@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Lexend+Deca:wght@100..900&display=swap');
:root {
    --lightblue-very:#f3f7f9;
    --lightblue: #c9e7e5;
    --blue: #20b2aa;
    --darkblue:#50abab;
    --lightblue-white: #e3f4f2;
    --silver: #a9a9a9;
    --font-family:"Figtree", sans-serif;
    --bold-md:600;
    --bold-lg:800;
    --radius:5px;
    --font-size:18px;
    
}

* {
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color:var( --lightblue-white);
    font-family: var(--font-family);
    font-weight: var(--bold-md);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border: 1px solid whitesmoke;
    box-sizing: border-box;
    border-radius: var(--radius);
    box-shadow:1px 5px 10px 1px var(--lightblue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background-color:white;
  
}

.container {
    width:80%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 1;
    position: absolute;
    top:250px;
    padding: 30px;
}

.filters span {
    font-weight: var(--bold-md);
    color:var(--blue);
    background-color: var(--lightblue);
    border-radius: 3px;
    padding: 6px;
}

.filters span:hover {
    cursor: pointer;
    background-color: var(--blue);
    color: white;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    gap: 10px; 
}

.company-name {
    color: var(--blue);
    text-transform: capitalize;
    font-weight: var(--bold-md);
}

.job-name:hover {
    color: var(--blue);
    cursor: pointer;
}

.job-name {
    font-size: var(--font-size);
    font-weight: var(--bold-lg);
}

[data-new="true"] .new {
    background-color: var(--blue);
    font-size: 12px;
    color: white;
    text-transform: uppercase;
    padding: 2px 5px;
    border-radius:10px;
}

[data-featured="true"] .featured {
    background-color:black;
    font-size: 12px;
    color: white;
    text-transform: uppercase;
    padding: 2px 5px;
    border-radius:10px;
}

[data-new="false"] .new {
   display: none;
}

[data-featured="false"] .featured {
    display: none;
 }

 pre {
    color: var(--silver);
    font-size: 15px;
 }

 [data-featured='true'] {
    border-left:5px solid var(--blue);
}

.card-content {
    display: flex;
    justify-content:start;
    align-items: center;
    gap: 15px;
}

.Job-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.img-container {
    position: absolute;
    top: 0;
    width: 100%;
    background-color:var(--darkblue);
}
body .img-container img {
    width: 100%;
}

.Job-details div {
    display: flex;
    gap: 10px;
}

 




